// Typography
$elc-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Width rules
$max-width: 1920px;

// Media queries
$landscape-up: 1024px;

// Colors
$background-color-theme: #FFFFFF;
$background-color-product: #FAFAFA;
$color-black: #1A1A1A;
$color-white: #FFFFFF;
$color-grey-text: #999999;
$color-light-border: #E6E6E6;
$font-thin: 400;
$font-bold: 700;